/* line 4, libs/_reset.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 6, libs/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  width: inherit;
  vertical-align: baseline;
}

/* line 7, libs/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 8, libs/_reset.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 9, libs/_reset.scss */
q, blockquote {
  quotes: none;
}

/* line 10, libs/_reset.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 11, libs/_reset.scss */
a img {
  border: none;
}

/* line 12, libs/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 18, libs/_reset.scss */
button, input {
  line-height: normal;
}

/* line 19, libs/_reset.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 20, libs/_reset.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  *overflow: visible;
}

/* line 21, libs/_reset.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 22, libs/_reset.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* line 7, libs/_grid.scss */
[class*="col-"] {
  float: left;
  padding-right: 10px;
}
@media only screen and (min-width: 481px) {
  /* line 7, libs/_grid.scss */
  [class*="col-"] {
    padding-right: 20px;
  }
}
@media only screen and (min-width: 1025px) {
  /* line 7, libs/_grid.scss */
  [class*="col-"] {
    padding-right: 40px;
  }
}

/* line 18, libs/_grid.scss */
[class*="col-"]::last-of-type {
  padding-right: 0px;
}

/* line 22, libs/_grid.scss */
.col-1-1 {
  width: 100%;
}

/* line 26, libs/_grid.scss */
.col-1-2 {
  width: 50%;
}

/* line 30, libs/_grid.scss */
.col-1-3 {
  width: 33.33%;
}

/* line 34, libs/_grid.scss */
.col-1-4 {
  width: 25%;
}

/* line 38, libs/_grid.scss */
.col-1-5 {
  width: 20%;
}

/* line 42, libs/_grid.scss */
.grid {
  padding: 10px;
  width: inherit;
  min-width: 320px;
  max-width: 680px;
  margin: 0 auto;
}

/* line 51, libs/_grid.scss */
.grid::after {
  content: "";
  display: table;
  clear: both;
}

/* line 57, libs/_grid.scss */
.grid > [class*="col-"]::last-of-type {
  padding-right: 10px;
}

/* ::Clearfixs and extends. Use which suits best */
/* ----------------------------------------------------------- */
/* line 38, screen.scss */
.clearfix, .container {
  overflow: hidden;
  *zoom: 1;
}

/* line 42, screen.scss */
.pie-clearfix {
  *zoom: 1;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.pie-clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* line 49, screen.scss */
.max-width {
  max-width: 100%;
  height: auto;
}

/* ::Base styles Almost exclusively single element selectors */
/* ------------------------------------------------------------ */
/* line 8, libs/_forms.scss */
label, select {
  display: block;
}

/* line 12, libs/_forms.scss */
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

/* line 20, libs/_forms.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 24, libs/_forms.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 42, libs/_forms.scss */
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"] {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}

/* line 53, libs/_forms.scss */
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  *margin-top: 0;
  line-height: normal;
  cursor: pointer;
}

/* line 67, libs/_forms.scss */
input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}

/* line 72, libs/_forms.scss */
select,
input[type="file"] {
  *margin-top: 4px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */
}

/* line 79, libs/_forms.scss */
select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* line 15, libs/_typography.scss */
h1 {
  font-size: 1.3em;
  line-height: 1.53846em;
  margin: 0em 0 1.02564em 0;
  font-weight: 500;
}
@media only screen and (max-width: 480px) {
  /* line 15, libs/_typography.scss */
  h1 {
    font-size: 1.1em;
    line-height: 1.21212em;
    margin: 0em 0 1.21212em 0;
  }
}
@media only screen and (min-width: 1025px) {
  /* line 15, libs/_typography.scss */
  h1 {
    font-size: 1.5em;
    line-height: 1.33333em;
    margin: 0em 0 0.88889em 0;
  }
}

/* line 26, libs/_typography.scss */
h2, h3, h4, h5, h6 {
  font-size: 0.86667em;
  line-height: 1.53846em;
  margin: 3.07692em 0 1.53846em 0;
  font-weight: 500;
}
@media only screen and (max-width: 480px) {
  /* line 26, libs/_typography.scss */
  h2, h3, h4, h5, h6 {
    font-size: 0.73333em;
    line-height: 1.81818em;
    margin: 3.63636em 0 1.81818em 0;
  }
}
@media only screen and (min-width: 1025px) {
  /* line 26, libs/_typography.scss */
  h2, h3, h4, h5, h6 {
    font-size: 1em;
    line-height: 1.33333em;
    margin: 2.66667em 0 1.33333em 0;
  }
}

/* line 37, libs/_typography.scss */
p, pre, label, ol, ul, code, pre {
  font-size: 0.8em;
  line-height: 1.66667em;
  margin: 0em 0 1.66667em 0;
}
@media only screen and (max-width: 480px) {
  /* line 37, libs/_typography.scss */
  p, pre, label, ol, ul, code, pre {
    font-size: 0.66667em;
    line-height: 2em;
    margin: 0em 0 2em 0;
  }
}
@media only screen and (min-width: 1025px) {
  /* line 37, libs/_typography.scss */
  p, pre, label, ol, ul, code, pre {
    font-size: 1em;
    line-height: 1.33333em;
    margin: 0em 0 1.33333em 0;
  }
}

/* line 49, libs/_typography.scss */
li {
  line-height: auto;
}

/* line 56, libs/_typography.scss */
ul {
  list-style-position: outside;
  list-style-type: disc;
}

/* line 57, libs/_typography.scss */
ol {
  list-style-position: outside;
  list-style-type: decimal;
}

/* line 58, libs/_typography.scss */
strong, b {
  font-weight: 600;
}

/* line 59, libs/_typography.scss */
em, i, q {
  font-style: italic;
}

/* line 61, libs/_typography.scss */
blockquote {
  padding-left: 0.66667em;
  margin-left: -0.66667em;
  border-left: 0.20833em solid #c14c44;
  line-height: normal;
}
/* line 66, libs/_typography.scss */
blockquote p {
  font-style: italic;
  font-family: Georgia, serif;
}

/* line 59, screen.scss */
html {
  font-size: 24px;
}

/* line 63, screen.scss */
body {
  color: #222222;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0.66667em;
  background-color: #fcfcfc;
}

/* line 70, screen.scss */
a {
  color: #1f541c;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  word-wrap: break-word;
}
/* line 73, screen.scss */
a:hover, a:focus, a:active {
  color: #243e6b;
}

/* line 78, screen.scss */
header {
  padding-bottom: 1.33333em;
}

/* line 82, screen.scss */
code, pre {
  font-family: Menlo, monospace;
  overflow-y: scroll;
  color: #286177;
}

/* line 88, screen.scss */
.navigation__icon {
  font-family: "basic";
  height: 66px;
  width: 66px;
  padding-bottom: 0.66667em;
  font-size: 1.08333em;
  line-height: 1.23077em;
}

/* ::Layout styles - Layouts hold one or more modules together. */
/* ------------------------------------------------------------ */
/* line 110, screen.scss */
.container {
  margin: 0 auto;
  width: 95%;
}

/* Example styles - you'll most likey want to remove*/
/* ::Media queries */
/* ------------------------------------------------------------ */
@media screen and (min-width: 20em) {
  /* line 131, screen.scss */
  .container {
    width: 95%;
  }
}
@media screen and (min-width: 33.33333em) {
  /* line 139, screen.scss */
  .container {
    min-width: 32.5em;
  }
}
@media screen and (min-width: 51.66667em) {
  /* line 146, screen.scss */
  .container {
    max-width: 45em;
  }
}
@media print {
  /* line 153, screen.scss */
  body {
    font-size: 62.5%;
    line-height: 1.33333em;
  }
}
@media screen and (max-width: 769px) {
  -webkit-text-size-adjust: none;
}
/* ::State styles */
/* ------------------------------------------------------------ */
/* line 170, screen.scss */
.is-hidden {
  display: none;
}

/* line 174, screen.scss */
.is-shown, .is-block {
  display: block;
}

/* line 178, screen.scss */
.is-uppercase {
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* line 183, screen.scss */
.is-lowercase {
  text-transform: lowercase;
}

/* ::Debugs and #grid by Jon Gibbins */
/* ----------------------------------------------------------- */
/* line 192, screen.scss */
#grid {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 199, screen.scss */
#grid div.horiz {
  height: 16px;
  border-bottom: 1px solid #ddd;
  margin: 0;
  padding: 0;
}
